[Unit]
Description=tmux in detached session for %u

[Service]
Type=forking
ExecStart=/usr/bin/tmux -f %h/.config/tmux/config new-session -d -s %u
ExecStop=/usr/bin/tmux kill-session -t %u
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
