configuration {
  font: "Envy Code R 14";
  line-margin: 10;
  display-ssh: "";
  display-run: "";
  display-drun: "";
  display-window: "";
  display-combi: "";
  show-icons: true;
  modi: "window,run,drun";
}

@theme "~/.config/rofi/nord.rasi"

listview {
  lines: 10;
  columns: 1;
}

window {
  width: 20%;
  height: 35%;
}
