#!/usr/bin/env sh

# rules
hc unrule -F
#hc rule class=XTerm tag=3 # move all xterms to tag 3
hc rule focus=on # normally focus new clients
#hc rule focus=off # normally do not focus new clients
# give focus to most common terminals
#hc rule class~'(.*[Rr]xvt.*|.*[Tt]erm|Konsole)' focus=on
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(DIALOG|UTILITY|SPLASH)' floating=on
hc rule windowtype='_NET_WM_WINDOW_TYPE_DIALOG' focus=on
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(NOTIFICATION|DOCK|DESKTOP)' manage=off

hc load 10 '
(split horizontal:0.850000:0
(clients horizontal:0)
(clients grid:0))
'
hc rule class="Steam" tag=10 index=00 pseudotile=off
hc rule class="discord" tag=9 index=00 pseudotile=off
hc rule class="slack" tag=9
hc rule instance="calibre-ebook-viewer" floating=on
hc rule instance="com.wurmonline.client.launcherfx.WurmMain" fullscreen=on
#hc rule instance="(Zonric) Wurm Unlimited " fullscreen=on
