#!/usr/bin/env sh

#-------#
# Rules #
#-------#
hc unrule -F
hc rule focus=on # normally focus new clients
hc rule floatplacement=center
#hc rule float_geometry=250x100
#hc rule focus=off # normally do not focus new clients

#------------#
# Scatchpads #
#------------#
hc rule title~'scratchpad' floating=on floatplacement=center floating_geometry=1000x500
hc rule class="Thunar" floating=on floatplacement=center

#hc rule title~'Hulu | Watch' floating=on

hc rule class="QjackCtl" floating=on

#------------#
# Games/Apps #
#------------#
hc load 10 '
(split horizontal:0.850000:0
(clients horizontal:0)
(clients vertical:0))
'
hc rule class="Steam" tag=10 index=00
hc rule class="discord" tag=9 index=00
hc rule class="Spotify" tag=8 index=00
hc rule class="obs" tag=7 index=00
hc rule instance="calibre-ebook-viewer" floating=on
hc rule instance="com.wurmonline.client.launcherfx.WurmMain" fullscreen=on
#hc rule instance="(Zonric) Wurm Unlimited " fullscreen=on
hc rule class="Jack_mixer" tag="audio" #floating=on

#--------------#
# Common Terms #
#--------------#
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(DIALOG|UTILITY|SPLASH)' floating=on floatplacement=center
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(NOTIFICATION|DOCK|DESKTOP)' manage=off
hc set tree_style '╾│ ├└╼─┐'

#--------#
# Unlock #
#--------#
hc unlock
