#!/usr/bin/env sh
hc() {
    herbstclient "$@"
}

#-------#
# Rules #
#-------#
hc unrule -F
hc rule focus=on # normally focus new clients
hc rule floatplacement=center

lock_tag_to_monitor() {
	hc chain , new_attr string tags.by-name."$1".my_monitor , set_attr tags.by-name."$1".my_monitor "$2"
}
#
lock_tag_to_monitor 1 0
lock_tag_to_monitor 2 0
lock_tag_to_monitor 3 0
lock_tag_to_monitor 4 1
lock_tag_to_monitor 5 1
lock_tag_to_monitor 6 1
lock_tag_to_monitor 7 2
lock_tag_to_monitor 8 2
lock_tag_to_monitor 9 2
lock_tag_to_monitor 10 0

hc foreach T tags.by-name. sprintf ATTR '%c.tiling.root.algorithm' T set_attr ATTR horizontal

#---------------#
# Layouts       #
#---------------#
# setlayout {of_tag} {layout}
setlayout() {
	hc chain , use "$1" , set_layout "$2" , use_previous
}
setlayout 8 max

#---------------#
# Floating Apps #
#---------------#
hc rule class="dev" floating=on
hc rule class="debug" floating=on
hc rule class="Thunar" floating=on
hc rule class="QjackCtl" floating=on
hc rule instance="kvantummanager" floating=on
hc rule instance="feh" class="feh" floating=on
#hc rule instance="calibre-ebook-viewer" floating=on

hc rule class="Lutris" floating=on
hc rule class="battle.net.exe" floating=on

#---------------#
# Godot Rules   #
#---------------#
hc rule instance="Godot_Engine" floating=on
hc rule instance="Godot_ProjectList" floating=on
hc rule instance="Godot_Editor" floating=off
hc rule instance="Godot_Editor" title="" floating=on
hc rule instance="Godot_Editor" title~"Alert.*" floating=on
hc rule instance="Godot_Editor" title~"Choose.*" floating=on
hc rule instance="Godot_Editor" title~"Command.*" floating=on
hc rule instance="Godot_Editor" title~"Configure.*" floating=on
hc rule instance="Godot_Editor" title~"Create.*" floating=on
hc rule instance="Godot_Editor" title~"Delete.*" floating=on
hc rule instance="Godot_Editor" title~"Dependencies.*" floating=on
hc rule instance="Godot_Editor" title~"Duplicating.*" floating=on
hc rule instance="Godot_Editor" title~"Edit.*" floating=on
hc rule instance="Godot_Editor" title~"Editor.*" floating=on
hc rule instance="Godot_Editor" title~"Error.*" floating=on
hc rule instance="Godot_Editor" title~"Export.*" floating=on
hc rule instance="Godot_Editor" title~"FileSystem.*" floating=on
hc rule instance="Godot_Editor" title~"History.*" floating=on
hc rule instance="Godot_Editor" title~"Import.*" floating=on
hc rule instance="Godot_Editor" title~"Inspector.*" floating=on
hc rule instance="Godot_Editor" title~"Load.*" floating=on
hc rule instance="Godot_Editor" title~"Manage.*" floating=on
hc rule instance="Godot_Editor" title~"Node.*" floating=on
hc rule instance="Godot_Editor" title~"Open.*" floating=on
hc rule instance="Godot_Editor" title~"Orphan.*" floating=on
hc rule instance="Godot_Editor" title~"Owners.*" floating=on
hc rule instance="Godot_Editor" title~"Pick.*" floating=on
hc rule instance="Godot_Editor" title~"Please.*" floating=on
hc rule instance="Godot_Editor" title~"Project.*" floating=on
hc rule instance="Godot_Editor" title~"Quick.*" floating=on
hc rule instance="Godot_Editor" title~"Renam.*" floating=on
hc rule instance="Godot_Editor" title~"Save.*" floating=on
hc rule instance="Godot_Editor" title~"Scene.*" floating=on
hc rule instance="Godot_Editor" title~"Search.*" floating=on
hc rule instance="Godot_Editor" title~"Thanks.*" floating=on
hc rule instance="Godot_Editor" title~"Warning.*" floating=on

hc rule instance="drkonqi" class="drkonqi" floating=on

#--------------#
# General Apps #
#--------------#
hc rule class="obs" tag=7
# Audio Apps
hc rule class="Jack_mixer" tag="audio"
hc rule class="qpwgraph" tag=8
hc rule instance="sayonara" tag=8
hc rule class="Spotify" tag=8
# Communication Apps
hc rule class="SchildiChat" tag=9

#-------------#
# Steam/Games #
#-------------#
hc rule class="steam" tag=10
# Black Desert Patcher
hc rule instance="steam_app_582660" tag=10 floating=on floatplacement=center
#hc rule instance="(Zonric) Wurm Unlimited " fullscreen=on
hc rule instance="com.wurmonline.client.launcherfx.WurmMain" fullscreen=on

#--------------#
# Common Terms #
#--------------#
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(DIALOG|UTILITY|SPLASH)' floating=on floatplacement=center
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(NOTIFICATION|DOCK|DESKTOP)' manage=off
hc set tree_style '╾│ ├└╼─┐'

#--------#
# Unlock #
#--------#
hc unlock

