#!/usr/bin/env sh

hc() {
	herbstclient "$@"
}

hc set default_frame_layout horizontal
hc set focus_crosses_monitor_boundaries false
hc set focus_stealing_prevention true
hc set frame_border_width 1
hc set frame_gap 2
hc set swap_monitors_to_get_tag false
hc set window_gap 2
